apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  labels:
    component: cart
    project: roboshop
spec:
  replicas: 1
  selector:
    matchLabels:
      component: cart
      project: roboshop
  template:
    metadata:
      labels:
        component: cart
        project: roboshop
    spec:
      containers:
      - name: cart
        image: 739561048503.dkr.ecr.us-east-1.amazonaws.com/cart:TAG
        env:
          - name: REDIS_HOST
            value: redis-master
          - name: CATALOGUE_HOST
            value: catalogue 
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: cart
  labels:
    component: cart
    project: roboshop
spec:
  selector:
    component: cart
    project: roboshop
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
