componentName: cart
image:
  component: cart
health:
  path: /health
  port: "8080"
configMap:
  enabled: true
  data:
    CATALOGUE_PORT: "80"
    CATALOGUE_HOST: catalogue
    REDIS_HOST: redis-master
